#header{
    background-color: none;
    color: white;
    text-align: center;
    padding: 5px;
    font:italic arial,sans-serif;
}

#left-region{
    line-height:30px;
    height:100%;
    width:22%;
    float:left;
    color: white;
    padding:5px;
    font-family: Courier New;
}

#footer{
    background-color: none;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px; 
    font-family: Helvetica;
}
